@import "./../../Scss/main.scss";

.footer {
  height: 65px;
  width: 100%;
  background-color: grey;
  margin-top: auto;
  @include breakMin() {
    height: 110px;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
